@model IEnumerable<ToyBot.Models.Tweet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="searchResults">
    <p>
        @Html.ActionLink("Create New", "Create")
        @*Standard Form HTML*@
        @*@using (Html.BeginForm())
            {
                <p>Post: @Html.TextBox("SearchString") <br />
                    <input type="submit" value="Filter"/></p>
            }*@
        <br>Ajax Form
        @using (Ajax.BeginForm("_TweetSearch", "Tweets", new AjaxOptions()
        {
            InsertionMode = InsertionMode.InsertAfter,
            HttpMethod = "Get",
            LoadingElementId = "ajax-loader",
            UpdateTargetId = "searchResults"
        }))
        {
            <input type="text" name="queryString" />
            <input type="submit" value="Find Post" />
            <img id="ajax-loader" src="~/Content/Images/ajax-loader.gif" style="display: none" alt=""/>
        }
    </p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntelligenceRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Likes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntelligenceRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Likes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
    <div id="smartPost">
        @Ajax.ActionLink("Click for most intelligent post!", "SmartPost",
        new AjaxOptions
        {
            UpdateTargetId = "smartPost",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Get"
        })
    </div>

</table>
